[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
postmarker = "*"
requests = "*"
pyairtable = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
black = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.11"
