[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
postmarker = "*"
requests = "*"
pyairtable = "*"

[dev-packages]

[requires]
python_version = "3.10"
