[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
postmarker = "*"
requests = "*"
pyairtable = "*"
py3-validate-email = {git = "https://gitea.ksol.io/karolyi/py3-validate-email"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
